<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <main class="container vh-100 pt-2 d-flex flex-column justify-content-center align-items-center text-center">
        <section>
            <i class="fa-sharp fa-solid fa-question fa-beat-fade fa-8x" style="color: #fff;"></i>
            <h1 class="display-1">Acerca del proyecto</h1>
            <p>En esta p치gina encontrar치s una calculadora de expresiones algebraicas, para aplicar casos de sumas, restas y multiplicaci칩n. Qquiz치s encuentres falencias a la hora de ejecutar el programa, sin embargo te encuentras con una version Alfa del proyecto, agradezco tu paciencia.</p>
        </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>