<footer class="bg-dark text-center p-4">
    <p class="h4">Esteban Páez Leonel <br>Laura Valentina Alfaro Ortíz 2023 &copy;</p>
    
</footer>
<script src="/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/93b5e6dcd8.js" crossorigin="anonymous"></script>